@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-light: #FFFFFF;
  --color-gray-base: #717A86;
  --color-gray-alternate: #7C879D;
  --color-light-overlay: #c2c2c2;
  --color-accent: #193f86;
  --color-border: #E3E4E7;
  --border-base: 0.0625rem solid var(--color-border);
  --font-family-base: "Open Sans", sans-serif;
  --container-width: 80.625rem;
  --container-padding-x: 1rem;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 1rem;
  line-height: 1.75;
  color: var(--color-gray-base);
  background-color: var(--color-light);
}

h1, .h1 {
  font-size: clamp(2rem, 1.5666666667rem + 1.7777777778vw, 3rem);
  line-height: 1.04;
}

h2, .h2 {
  font-size: clamp(1.5rem, 1.175rem + 1.3333333333vw, 2.25rem);
  line-height: 1.39;
}

h3, .h3 {
  font-size: clamp(1.125rem, 0.9625rem + 0.6666666667vw, 1.5rem);
  line-height: 1.17;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition: color 0.2s ease-in-out, fill 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 6.25rem 12.5rem;
  padding-block: 1.5625rem;
  border-bottom: var(--border-base);
}
@media (width <= 47.99875rem) {
  .header {
    padding-block: 0.625rem;
  }
}
@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-black);
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}
@media (width <= 90.06125rem) {
  .header__inner {
    justify-content: center;
  }
}
@media (width <= 47.99875rem) {
  .header__inner {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
@media (width <= 47.99875rem) {
  .header__menu {
    transition: translate 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    position: fixed;
    inset: 0;
    padding: 1rem;
    background-color: var(--color-light-overlay);
  }
  .header__menu:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
}
@media (width <= 63.99875rem) {
  .header__menu-list {
    flex-wrap: wrap;
    row-gap: 0.625rem;
    align-items: flex-end;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
  }
}
.header__menu-item:not(:last-child) {
  margin-right: 5.3125rem;
}
@media (width <= 90.06125rem) {
  .header__menu-item:not(:last-child) {
    margin-right: 2.5rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-item:not(:last-child) {
    margin: 0;
  }
}
.header__logo {
  display: flex;
  margin-right: 5.3125rem;
}
@media (width <= 90.06125rem) {
  .header__logo {
    margin-right: 2.5rem;
  }
}
@media (width <= 63.99875rem) {
  .header__logo {
    order: -1;
  }
}
@media (width <= 47.99875rem) {
  .header__logo {
    margin: 0;
  }
}
@media (any-hover: hover) {
  .header__logo:hover svg path {
    fill: var(--color-accent);
  }
}
@media (any-hover: none) {
  .header__logo:active svg path {
    fill: var(--color-accent);
  }
}

.burger-button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  position: relative;
  z-index: 2;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
@media (any-hover: hover) {
  .burger-button:hover .burger-button__line {
    background-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active .burger-button__line {
    background-color: var(--color-accent);
  }
}
.burger-button.is-active .burger-button__line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  opacity: 0;
}
.burger-button.is-active .burger-button__line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.burger-button__line {
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  display: block;
  width: 1.875rem;
  height: 0.1875rem;
  background-color: var(--color-gray-base);
  border-radius: 0.125rem;
}

.soc1als__list {
  display: flex;
  gap: 1.5625rem;
}
.soc1als__link {
  display: flex;
}
@media (any-hover: hover) {
  .soc1als__link:hover svg path {
    fill: var(--color-accent);
  }
}
@media (any-hover: none) {
  .soc1als__link:active svg path {
    fill: var(--color-accent);
  }
}

/*# sourceMappingURL=main.css.map */