@use 'helpers' as *;

:root {
    --color-light: #FFFFFF;
    --color-gray-base: #717A86;
    --color-gray-alternate: #7C879D;
    --color-light-overlay: #c2c2c2;
    --color-accent: #193f86;
    --color-border: #E3E4E7;

    --border-base: #{rem(1)} solid var(--color-border);
    --border-footer: #{rem(1)} solid var(--color-light);
    
    --font-family-base: 'Open Sans', sans-serif;

    --container-width: #{rem(1290)};
    --container-padding-x: #{rem(16)};
}