@use 'helpers' as *;

.hero {
    padding-top: rem(30);

    &__list {
        display: grid;
        grid-template-columns: calc(960 / 1290 * 100%) calc(300 / 1290 * 100%);
        grid-template-areas: 
            'workshop moscow'
            'workshop perm'
        ;
        gap: rem(30);

        @include laptop {
            grid-template-columns: none;
            grid-template-areas: 
                'workshop workshop'
                'moscow perm'
            ;
        }

        @include mobile-s {
            grid-template-areas: 
                'workshop'
                'moscow'
                'perm'
            ;
        }
    }

    &__item {
        &:nth-child(1) {
            grid-area: workshop;
            background: url('../img/hero/hero-workshop-bg.jpg') center/cover no-repeat;
        }
        &:nth-child(2) {
            grid-area: moscow;
        }
        &:nth-child(3) {
            grid-area: perm;
        }
    }
}