@use 'helpers' as *;

.services {
    &__inner {
        display: grid;
        row-gap: rem(30);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            'objects measurements'
            'objects design'
            'objects engineering'
        ;
        gap: rem(30);

        @include mobile {
            grid-template-columns: 1fr;
            grid-template-areas: 
                'objects'
                'measurements'
                'design'
                'engineering'
            ;
        }
    }

    &__item {
        &:nth-child(1) {
            grid-area: objects;
        }

        &:nth-child(2) {
            grid-area: measurements;
        }

        &:nth-child(3) {
            grid-area: design;
        }

        &:nth-child(4) {
            grid-area: engineering;
        }
    }
}